certifi==2025.4.26
charset-normalizer==3.4.2
feedparser==6.0.11
idna==3.10
packaging==25.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
QtAwesome==1.4.0
QtPy==2.4.3
requests==2.32.4
sgmllib3k==1.0.0
urllib3==2.4.0
